<?xml version="1.0" ?>
<robot name="Spot">
    <webots>
        <plugin type="webots_spot.spot_driver.SpotDriver" >
            <arena3>false</arena3>
        </plugin>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/Spot/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>base_link</frameName>
            <inertialUnitName>inertial unit</inertialUnitName>
            <gyroName>gyro</gyroName>
            <accelerometerName>accelerometer</accelerometerName>
        </plugin>
    </webots>
</robot>
